@media(min-width: 320px){
  .Label {
    font-size: .8rem;
    font-weight: normal;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid var(--whitefont);
    color: var(--blackgray);
  }
}