*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

:root{
  --blue: #038bde;
  --blackgray: #353434;
  --whitegray: #dedede;
  --whitefont: whitesmoke;
  --bg: #f6f8fa;
  --hover: #f5f5f5; 
}